@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth background transition when switching themes */
body {
  @apply transition-colors duration-300 ease-in-out;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}